<h1>An introduciton to LaTeX</h1>

<p>This quick guide is based on <a href="mailto: lindsey.fletcher23@gmail.com" class="link">Lindsey Fletcher</a>'s LaTeX tutorial. 
    <a  class="link"
        href="https://www.overleaf.com/learn/latex/Learn_LaTeX_in_30_minutes" 
        target=_blank>Learn LaTeX in 30 minutes
    </a> offers another good resource.</p>

<mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title>
            1. Document structure
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>A LaTeX document has 2 parts:</div>
    <ul>
        <li>preamble: the meta data
            <ul>
                <li>document title</li>
                <li>imported packages</li>
                <li>custom functions</li>
            </ul>
        <li>document body: the content</li>
    </ul>

    <markdown src="../../../assets/source-code/latex/sample1.tex"></markdown>

    <object 
        data="../../../assets/source-code/latex/sample1.pdf" 
        type="application/pdf" 
        width="100%" 
        height="500px">
    </object>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            2. Special characters
        </mat-panel-title>
    </mat-expansion-panel-header>

    <table class="mat-elevation-z2">
        <thead>
            <th>character(s)</th>
            <th>function</th>
        </thead>
        <tr>
            <td>&#92;</td>
            <td>command</td>
        <tr>
        <tr>
            <td>&#92;&#92;</td>
            <td>line break</td>
        <tr>
        <tr>
            <td>%</td>
            <td>comment</td>
        <tr>
        <tr>
            <td>&#123; &#125;</td>
            <td>command parameters</td>
        </tr>
        <tr>
            <td>&#91; &#93;</td>
            <td>optional parameters</td>
        </tr>
        <tr>
            <td>&amp;</td>
            <td>alignment</td>
        </tr>
        <tr>
            <td>$ ... $</td>
            <td>inline math formula</td>
        </tr>
    </table> <br>

    <markdown src="../../../assets/source-code/latex/sample2.tex"></markdown>

    <object 
        data="../../../assets/source-code/latex/sample2.pdf" 
        type="application/pdf" 
        width="100%" 
        height="500px">
    </object>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            3. Basic styling
        </mat-panel-title>
    </mat-expansion-panel-header>

    <h3>3.1 Font styles, paragraph indentation and new page</h3>
    <table class="mat-elevation-z2">
        <thead>
            <th>LaTeX</th>
            <th>function</th>
        </thead>
        <tr>
            <td>&#92;textbf&#123; &#125;</td>
            <td>bold</td>
        <tr>
        <tr>
            <td>&#92;textit&#123; &#125;</td>
            <td>italic</td>
        <tr>
        <tr>
            <td>&#92;underline&#123; &#125;</td>
            <td>underline</td>
        <tr>
        <tr>
            <td>&#92;hl&#123; &#125;</td>
            <td>highlight (requires packages xcolor and soul)</td>
        <tr>
        <tr>
            <td>&#92;noindent</td>
            <td>prevent automatic indentation</td>
        <tr>
        <tr>
            <td>&#92;indent</td>
            <td>restore automatic indentation</td>
        <tr>
        <tr>
            <td>&#92;newpage</td>
            <td>start new page</td>
        <tr>
    </table> <br>
    
    <hr>

    <h3>3.2 Font size</h3>
    <p>Font sizes are identified by special names. The actual size is not absolute but relative to the font size declared in the 
        \documentclass statement. (defaulted to size 10 for articles)</p>
    
    <ol>
        <li>&#92;tiny</li>
        <li>&#92;scriptsize</li>
        <li>&#92;footnotesize</li>
        <li>&#92;small</li>
        <li>&#92;normalsize</li>
        <li>&#92;large</li>
        <li>&#92;Large</li>
        <li>&#92;LARGE</li>
        <li>&#92;huge</li>
        <li>&#92;Huge</li>
    </ol>

    <hr>

    <h3>3.3 Font family</h3>

    <markdown src="../../../assets/source-code/latex/sample3.tex"></markdown>

    <object 
        data="../../../assets/source-code/latex/sample3.pdf" 
        type="application/pdf" 
        width="100%" 
        height="500px">
    </object>
</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel>